#root {
  background-color: #f7f7f7 !important;
}

/* ========= Layout =========== */
#menu-wrapper {
  background-color: #fff;
}

.menu-style {
  margin-top: 0 !important;

  /* margin-top: 4em !important; */
  margin-bottom: 1em !important;
  border: none !important;
  border-radius: 0;
  box-shadow: none;
  transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.menu-style-fixed {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important;
}

#footer-wrapper {
  padding: 5em 0;
  margin: 5em 0 0;
}

/* ========= https://github.com/paulcollett/react-masonry-css =========== */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin-left: -30px; /* gutter size offset */
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > .event-card { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
  background: grey;
}

/* react-dropzone */
.dropzone {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #bdbdbd;
  background-color: #fafafa;
  border-color: #eee;
  border-style: dashed;
  border-width: 2px;
  border-radius: 2px;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}

/* ===== TestPage ===== */
#imgSample {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #c0c0c0;
}
